/*!CK:1503010831!*//*1409753549,*/

._5kw5 .actionButtons{margin:12px 0 0 5px}._5kw5 .approvalStory{margin:10px 0 10px 0}
._5kw4{border-left:2px solid #ccc;color:gray;font-size:11px;margin-top:5px;max-width:85%;padding:3px 3px 3px 7px}

#bootloader_VorM0 { height: 42px; }
.bootloader_VorM0 { display:block !important; }