/*!CK:1825236177!*//*1410084017,*/

.sp_yA8HQh1F9PK{background-image:url(/rsrc.php/v2/yV/r/kn21Am3JQ9z.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:34px;width:34px}.sp_yA8HQh1F9PK.sx_9bb7ed{width:16px;height:16px;background-position:0 -70px}.sp_yA8HQh1F9PK.sx_bb6a4f{background-position:0 0}.sp_yA8HQh1F9PK.sx_34c3dc{background-position:0 -35px}.sp_yA8HQh1F9PK.sx_d66862{width:7px;height:13px;background-position:-17px -70px}

#bootloader_H121R { height: 42px; }
.bootloader_H121R { display:block !important; }